.case-study-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px; }

.services-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: -100px; }
  .services-cards-wrapper .card-unit .card-title {
    margin-right: 1rem; }
  @media (max-width: 1024px) and (min-width: 768px) {
    .services-cards-wrapper .card-unit {
      width: 203px; } }
  @media (max-width: 767px) {
    .services-cards-wrapper .card-unit {
      width: 100%;
      max-width: 320px; }
      .services-cards-wrapper .card-unit .card-title {
        margin-right: 50px; }
      .services-cards-wrapper .card-unit .link-button {
        right: 20px; } }
  @media (max-width: 767px) {
    .services-cards-wrapper {
      margin-top: 0; } }

.services-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .services-section-wrapper .section-description {
    max-width: 530px; }
  @media (max-width: 767px) {
    .services-section-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .services-section-wrapper .section-description {
        margin-top: 52px;
        margin-bottom: 25px;
        max-width: 80%; } }

.contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; }
  .contact-form-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #eeeeee;
    z-index: -1; }

.platforms-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .platforms-section-wrapper .description-block {
    max-width: 250px;
    padding-right: 8px;
    margin-left: 20vw;
    margin-right: 42px;
    margin-top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .platforms-section-wrapper .description-block .section-description {
      text-align: left; }
    @media (max-width: 1400px) {
      .platforms-section-wrapper .description-block {
        margin-left: 7vw; } }
  @media (max-width: 1199px) {
    .platforms-section-wrapper .description-block {
      margin-left: 4vw; }
    .platforms-section-wrapper .platforms-cards-wrapper .card-unit.card-size-small {
      min-width: 145px;
      width: 145px; } }
  @media (max-width: 1080px) {
    .platforms-section-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .platforms-section-wrapper .description-block {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        text-align: center; }
        .platforms-section-wrapper .description-block .section-description {
          text-align: center; }
      .platforms-section-wrapper .platforms-cards-wrapper {
        padding: 24px 24px 42px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .platforms-section-wrapper .platforms-cards-wrapper:before {
          width: 105%;
          -webkit-transform: translateX(-3px);
                  transform: translateX(-3px); }
        .platforms-section-wrapper .platforms-cards-wrapper .card-unit.card-size-small {
          margin: 8px; } }
  @media (max-width: 640px) {
    .platforms-section-wrapper .platforms-cards-wrapper {
      padding: 12px 12px 42px; }
      .platforms-section-wrapper .platforms-cards-wrapper .card-unit.card-size-small {
        margin: 5px; } }
  @media (max-width: 359px) {
    .platforms-section-wrapper .platforms-cards-wrapper .card-unit.card-size-small {
      width: 100%; } }

.section-button {
  margin-left: 20vw;
  margin-top: -80px; }
  @media (max-width: 1400px) {
    .section-button {
      margin-left: 7vw; } }
  @media (max-width: 1199px) {
    .section-button {
      margin-left: 4vw; } }
  @media (max-width: 1080px) {
    .section-button {
      margin-left: 0;
      margin-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.platforms-cards-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 28px 58px 42px 28px;
  width: 100%;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .platforms-cards-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 80px;
    height: 80px;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.2);
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }

.section-wrapper {
  margin-bottom: 100px; }

.block-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4); }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-primary {
  color: #ee8e15; }

.section-header {
  font-size: 24px;
  font-family: "Play", sans-serif;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.89);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 18px; }

.customers-section-wrapper {
  padding: 70px 0 0;
  position: relative;
  margin-bottom: 120px; }
  .customers-section-wrapper .section-description {
    color: rgba(0, 0, 0, 0.54); }
  .customers-section-wrapper .overlay-btn-top {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }

.case-study-section-wrapper {
  margin-bottom: 0; }
  @media (max-width: 1024px) {
    .case-study-section-wrapper .card-unit {
      width: 100%;
      max-width: 500px; } }

.logo-dark {
  display: none; }

.header {
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all ease 0.23s;
  transition: all ease 0.23s; }
  .header.on-scroll {
    background-color: #fafafa;
    -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15); }
    .header.on-scroll .nav-link {
      color: black; }
    .header.on-scroll .header-menu span {
      background-color: rgba(0, 0, 0, 0.54); }

.navbar {
  padding: 1.5rem 4rem; }
  @media (max-width: 1199px) {
    .navbar {
      padding: 1.5rem 2rem; } }
  @media (max-width: 1024px) {
    .navbar {
      padding: 1.5rem 2.5rem; } }
  @media (max-width: 767px) {
    .navbar {
      padding: 1.5rem 1.5rem; } }
  .navbar .navbar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px; }
  .navbar .nav-item.active .nav-link {
    color: rgba(255, 174, 71, 0.9); }
  .navbar .nav-link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Play", sans-serif;
    font-weight: bold;
    -webkit-transition: color ease 0.23s;
    transition: color ease 0.23s; }
    .navbar .nav-link:hover {
      color: rgba(255, 174, 71, 0.8); }
  .navbar .lang-sign ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .navbar .lang-sign img {
    width: 32px;
    height: 18px; }

.fixed-to-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }

.logo {
  max-width: 215px; }
  .logo img {
    width: 100%;
    height: 100%; }

.header-burger {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer; }

.header-menu {
  display: inline-block;
  width: 27px;
  height: 15px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden; }
  .header-menu span {
    display: block;
    position: absolute;
    width: 27px;
    height: 2px;
    left: 0;
    background-color: #ffffff;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    .header-menu span:nth-child(1) {
      top: 0px; }
    .header-menu span:nth-child(2), .header-menu span:nth-child(3) {
      top: 6px; }
    .header-menu span:nth-child(4) {
      top: 12px; }
  .header-menu.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%; }
  .header-menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .header-menu.open span:nth-child(4) {
    top: 6px;
    width: 0%;
    left: 50%; }

.header-burger {
  display: none; }

@media (min-width: 641px) {
  .header.on-scroll .logo-light {
    display: none; }
    .header.on-scroll .logo-light.logo-big {
      display: none; }
  .header.on-scroll .logo-dark {
    display: initial; }
    .header.on-scroll .logo-dark.logo-big {
      display: initial; }
  .header .logo-light {
    display: initial; }
    .header .logo-light.logo-big {
      display: initial; }
  .header .logo-dark {
    display: none; }
    .header .logo-dark.logo-big {
      display: none; }

  .nav-open .logo-light {
    display: none; }
    .nav-open .logo-light.logo-big {
      display: none; }
  .nav-open .logo-dark {
    display: initial; }
    .nav-open .logo-dark.logo-big {
      display: initial; }

  .logo-small {
    display: none !important; } }
@media (max-width: 640px) {
  .header.on-scroll .logo-light {
    display: none; }
    .header.on-scroll .logo-light.logo-small {
      display: none; }
  .header.on-scroll .logo-dark {
    display: initial; }
    .header.on-scroll .logo-dark.logo-small {
      display: initial; }
  .header .logo-light {
    display: initial; }
    .header .logo-light.logo-small {
      display: initial; }
  .header .logo-dark {
    display: none; }
    .header .logo-dark.logo-small {
      display: none; }

  .nav-open .logo-light {
    display: none; }
    .nav-open .logo-light.logo-small {
      display: none; }
  .nav-open .logo-dark {
    display: initial; }
    .nav-open .logo-dark.logo-small {
      display: initial; }

  .logo-big {
    display: none !important; } }
@media (max-width: 1024px) {
  .header-burger {
    display: inherit; }

  .navbar .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navbar .lang-sign {
    display: none; }

  .nav-open {
    overflow: hidden; }
    .nav-open .header {
      background-color: #fafafa;
      -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
      height: 100%; }
    .nav-open .navbar {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      .nav-open .navbar .navbar-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: 0; }
      .nav-open .navbar .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 68px;
        margin-left: 24px; } }
      @media (max-width: 1024px) and (max-width: 640px) {
        .nav-open .navbar .nav {
          margin-top: 48px; } }
@media (max-width: 1024px) {
      .nav-open .navbar .nav-link {
        color: rgba(0, 0, 0, 0.54);
        font-size: 24px; }
      .nav-open .navbar .lang-sign {
        display: inherit;
        margin-right: 42px; } }
      @media (max-width: 1024px) and (max-width: 767px) {
        .nav-open .navbar .lang-sign {
          margin-right: 18px; } }
@media (max-width: 1024px) {
    .nav-open .header-menu span {
      background-color: rgba(0, 0, 0, 0.54); } }
@media (max-width: 640px) {
  .xs-menu-wrapper {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; } }
.page-image-section {
  position: relative;
  height: calc(100vh + 100px );
  background-color: rgba(35, 43, 54, 0.6); }
  @media (max-width: 767px) {
    .page-image-section {
      height: 100vh; } }

.page-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  z-index: -1; }

.align-content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%; }

.page-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 8px;
  max-width: 790px;
  text-align: center;
  margin-bottom: 80px; }
  @media (max-width: 1024px) and (min-width: 768px) {
    .page-text {
      font-size: 54px;
      letter-spacing: 6.8px; } }
  @media (max-width: 767px) {
    .page-text {
      font-size: 32px;
      letter-spacing: 4px; } }

.primary-button {
  display: inline-block;
  padding: 16px 48px;
  border-radius: 48px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Play", sans-serif;
  font-weight: bold;
  outline-width: 0;
  background-image: linear-gradient(76deg, #e72d70, #ee8e15);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 50px 0 rgba(238, 142, 21, 0.4);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 50px 0 rgba(238, 142, 21, 0.4);
  -webkit-transition: -webkit-box-shadow ease 0.23s;
  transition: -webkit-box-shadow ease 0.23s;
  transition: box-shadow ease 0.23s;
  transition: box-shadow ease 0.23s, -webkit-box-shadow ease 0.23s;
  color: #ffffff; }
  .primary-button:hover {
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15), 0 30px 60px 0 rgba(238, 142, 21, 0.15);
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15), 0 30px 60px 0 rgba(238, 142, 21, 0.15); }
  .primary-button:hover, .primary-button:active, .primary-button:focus {
    text-decoration: none;
    color: #ffffff; }

.overlay-top {
  position: relative;
  margin-top: -100px; }

.slider-wrapper {
  margin: 50px 0; }
  .slider-wrapper.full-width {
    max-width: 100%; }
  .slider-wrapper .owl-item {
    width: 267px;
    margin-right: 16px; }
  .slider-wrapper .card-unit .card-large-icon {
    margin-top: 56px;
    margin-bottom: 32px; }
  .slider-wrapper .card-unit .card-title {
    margin-bottom: 24px; }
  .slider-wrapper .project-logos-wrapper.owl-carousel .owl-dots {
    margin-top: 30px; }
  .slider-wrapper .project-logos-wrapper.owl-carousel button.owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.1); }
    .slider-wrapper .project-logos-wrapper.owl-carousel button.owl-dot:focus {
      outline-width: 0; }
    .slider-wrapper .project-logos-wrapper.owl-carousel button.owl-dot.active {
      background-color: rgba(0, 0, 0, 0.25); }
  .slider-wrapper .project-logo {
    max-width: 190px;
    width: auto;
    min-height: 80px;
    max-height: 120px;
    height: 120px;
    margin: 0 38px; }
    @media (max-width: 480px) {
      .slider-wrapper .project-logo {
        margin: 0 auto; } }

.contact-form-card {
  background-image: linear-gradient(60deg, #e72d70, #ee8e15);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 50px 0 rgba(238, 142, 21, 0.4);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 50px 0 rgba(238, 142, 21, 0.4);
  -webkit-transition: -webkit-box-shadow ease 0.23s;
  transition: -webkit-box-shadow ease 0.23s;
  transition: box-shadow ease 0.23s;
  transition: box-shadow ease 0.23s, -webkit-box-shadow ease 0.23s;
  padding: 48px 100px;
  border-radius: 40px;
  max-width: 970px;
  margin: 0 40px; }
  .contact-form-card:hover {
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15), 0 30px 60px 0 rgba(238, 142, 21, 0.15);
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15), 0 30px 60px 0 rgba(238, 142, 21, 0.15); }
  @media (max-width: 1024px) {
    .contact-form-card {
      border-radius: 12px;
      padding: 48px 50px; } }
  @media (max-width: 460px) {
    .contact-form-card {
      border-radius: 0px;
      margin: 0;
      padding: 48px 15px; } }
  .contact-form-card .form-description {
    font-size: 16px;
    color: #ffffff;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  .contact-form-card .input-block {
    text-align: left;
    padding: 15px 0 0 0;
    position: relative;
    max-height: 70px;
    height: 70px; }
    .contact-form-card .input-block:before, .contact-form-card .input-block:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .contact-form-card .input-block:after {
      background-color: rgba(238, 142, 21, 0.3);
      -webkit-transform: scaleX(0);
              transform: scaleX(0); }
    .contact-form-card .input-block.captcha-block {
      padding-top: 30px;
      height: auto;
      max-height: none; }
      .contact-form-card .input-block.captcha-block:before, .contact-form-card .input-block.captcha-block:after {
        content: none; }
  .contact-form-card .input-block .wpcf7-form-control-wrap, .contact-form-card .textarea-block .wpcf7-form-control-wrap {
    margin-top: -33px;
    display: block; }
    .contact-form-card .input-block .wpcf7-form-control-wrap .wpcf7-not-valid-tip, .contact-form-card .textarea-block .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
      color: #fff8ee; }
  .contact-form-card .input-label {
    display: block;
    font-size: 16px;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .contact-form-card .is-active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  .contact-form-card .is-active .input-label {
    color: #fff8ee; }
  .contact-form-card .is-completed .input-label {
    font-size: 12px;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .contact-form-card .input-field {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline-width: 0;
    position: relative;
    outline: none;
    padding: 8px 0;
    font-size: 16px; }
  .contact-form-card .textarea-block {
    margin-top: 42px; }
  .contact-form-card .textarea-label {
    display: block;
    font-size: 16px;
    color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: left; }
  .contact-form-card .textarea-field {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    padding: 10px 8px;
    font-size: 16px;
    height: 100%;
    resize: none; }

.submit-button {
  display: inline-block;
  padding: 16px 48px;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Play", sans-serif;
  font-weight: bold;
  outline-width: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 80px; }
  .submit-button:hover {
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }
  .submit-button:focus {
    outline-width: 0;
    -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }

img {
  width: 100%; }

.card-unit {
  width: 267px;
  padding: 24px 24px;
  margin: 20px;
  border-radius: 12px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s; }
  .card-unit:hover {
    -webkit-box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 50px 100px 0 rgba(0, 0, 0, 0.2); }
  .card-unit.card-size-small {
    width: 168px;
    min-width: 168px;
    margin: 12px; }
  .card-unit.card-static:hover {
    -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1); }
  .card-unit .card-header {
    padding: 0 0 20px;
    color: #ee8e15;
    font-size: 14px;
    font-family: "Play", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: none; }
    .card-unit .card-header + .card-image {
      margin-top: 0;
      border-radius: 0; }
  .card-unit .card-image {
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden; }
    .card-unit .card-image img.image {
      width: 100%;
      height: 180px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: 50% 50%;
         object-position: 50% 50%;
      -webkit-transition: -webkit-filter ease 0.3s;
      transition: -webkit-filter ease 0.3s;
      transition: filter ease 0.3s;
      transition: filter ease 0.3s, -webkit-filter ease 0.3s;
      will-change: filter; }
    .card-unit .card-image .image-label {
      max-height: 22px;
      position: absolute;
      left: 24px;
      bottom: 20px; }
      .card-unit .card-image .image-label img {
        height: auto; }
  .card-unit .card-large-icon {
    max-width: 140px;
    height: 72px;
    margin: 24px auto; }
    .card-unit .card-large-icon img {
      height: -webkit-fill-available;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      height: 100%; }
  .card-unit .card-title {
    padding-top: 24px;
    color: rgba(0, 0, 0, 0.89);
    font-size: 20px;
    font-family: "Play", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-wrap: break-word;
    word-break: break-word; }
  .card-unit .card-description {
    font-size: 20px;
    font-family: "Play", sans-serif;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 120px;
    height: 120px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word; }
  .card-unit .link {
    color: #ee8e15;
    text-transform: uppercase;
    font-weight: bold; }
    .card-unit .link i {
      color: inherit;
      font-size: 16px;
      margin-left: 8px; }
  .card-unit .link-button {
    position: absolute;
    bottom: 34px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #e72d70, #ee8e15);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 50px 0 rgba(238, 142, 21, 0.4);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 50px 0 rgba(238, 142, 21, 0.4);
    -webkit-transition: -webkit-box-shadow ease 0.23s;
    transition: -webkit-box-shadow ease 0.23s;
    transition: box-shadow ease 0.23s;
    transition: box-shadow ease 0.23s, -webkit-box-shadow ease 0.23s; }
    .card-unit .link-button:hover {
      -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15), 0 30px 60px 0 rgba(238, 142, 21, 0.15);
              box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15), 0 30px 60px 0 rgba(238, 142, 21, 0.15); }
  .card-unit .arrow-sign {
    position: relative;
    left: 14px;
    top: 7px;
    font-size: 21px;
    color: #ffffff; }

.main-circle-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 1152px;
  width: 100%; }
  @media (max-width: 1024px) and (min-width: 700px) {
    .main-circle-wrapper {
      min-height: 125vw; } }
  @media (max-width: 699px) {
    .main-circle-wrapper {
      min-height: 1320px; } }
  .main-circle-wrapper .section-details {
    position: absolute;
    right: 20%;
    top: 15%;
    max-width: 340px; }
    @media (max-width: 1600px) {
      .main-circle-wrapper .section-details {
        right: 10%;
        top: 15%; } }
    @media (max-width: 1199px) {
      .main-circle-wrapper .section-details {
        right: 0;
        top: 2%; } }
    @media (max-width: 699px) {
      .main-circle-wrapper .section-details {
        right: 0;
        top: 0;
        max-width: 100%;
        padding: 0 24px;
        text-align: center; } }

.show-tablet {
  display: none; }

@media (max-width: 1199px) {
  .show-tablet {
    display: inherit; }

  .hide-tablet {
    display: none; } }
.circles-wrapper {
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  .circles-wrapper > *:nth-child(1) {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%; }
  .circles-wrapper > *:nth-child(2) {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%; }
  @media (max-width: 1600px) {
    .circles-wrapper {
      -webkit-transform: translateX(-20%);
              transform: translateX(-20%); } }
  @media (max-width: 1199px) {
    .circles-wrapper {
      -webkit-transform: translateX(-20%) translateY(-10%);
              transform: translateX(-20%) translateY(-10%); }
      .circles-wrapper .tech-logo-bottom {
        bottom: -4%; } }
  @media (max-width: 699px) {
    .circles-wrapper {
      -webkit-transform: translateX(-50%) translateY(-20%);
              transform: translateX(-50%) translateY(-20%);
      top: 0;
      left: 50%; } }

.circle-primary {
  width: 1152px;
  height: 1152px;
  -webkit-transform: translateX(3%);
          transform: translateX(3%);
  left: 0;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  background-color: transparent; }
  @media (max-width: 1024px) and (min-width: 700px) {
    .circle-primary {
      width: 120vw;
      height: 120vw; } }
  @media (max-width: 699px) {
    .circle-primary {
      -webkit-transform: translateX(0);
              transform: translateX(0); } }
  .circle-primary .inner-1 {
    width: 75%;
    height: 75%;
    border-width: 1px;
    margin: 12.5%; }
  .circle-primary .inner-2 {
    width: 70%;
    height: 70%;
    border-width: 2px;
    margin: 15%; }
  .circle-primary .inner-3 {
    width: 55%;
    height: 55%;
    border-width: 3px;
    margin: 22.5%; }
  .circle-primary .inner-4 {
    width: 40%;
    height: 40%;
    border-width: 4px;
    margin: 30%; }
.circle-secondary {
  width: 630px;
  height: 630px;
  -webkit-transform: translateX(-3%);
          transform: translateX(-3%); }
  .circle-secondary .inner-1 {
    width: 65%;
    height: 65%;
    border-width: 1px;
    margin: 17.5%; }
  .circle-secondary .inner-2 {
    width: 40%;
    height: 40%;
    border-width: 2px;
    margin: 30%; }

.circle {
  z-index: 1;
  position: relative;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  background-color: transparent; }
  .circle .purple {
    background-color: #691b7c;
    -webkit-box-shadow: 0 40px 50px 0 rgba(0, 0, 0, 0.15), 0 30px 40px 0 rgba(105, 27, 124, 0.17);
            box-shadow: 0 40px 50px 0 rgba(0, 0, 0, 0.15), 0 30px 40px 0 rgba(105, 27, 124, 0.17); }
  .circle .light {
    background-color: #ffffff; }
  .circle .white {
    background-color: #ffffff;
    -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15); }
  .circle .rounded-wrapper {
    max-width: 168px;
    max-height: 168px;
    height: 60%;
    width: 60%;
    border-radius: 50%; }
    .circle .rounded-wrapper img {
      max-width: 97px;
      max-height: 60px;
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .circle .tech-logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .circle .tech-logo-top {
    position: absolute;
    top: -35%;
    left: -10%; }
  .circle .tech-logo-top-center {
    position: absolute;
    top: -9%;
    left: 40%; }
  .circle .tech-logo-right {
    position: absolute;
    top: 20%;
    right: -7%; }
  .circle .tech-logo-bottom {
    position: absolute;
    bottom: -9%;
    left: 40%; }
  .circle .tech-logo-bottom-right {
    position: absolute;
    bottom: 20%;
    right: -1%; }
  .circle .tech-logo-bottom-half-right {
    position: absolute;
    bottom: 1%;
    right: 20%; }
  .circle .tech-logo-bottom-left {
    position: absolute;
    bottom: 20%;
    left: -10%; }
  .circle .tech-logo-bottom-half-left {
    position: absolute;
    bottom: -2%;
    right: 60%; }
  .circle .rectangle-wrapper {
    max-width: 290px;
    max-height: 167px;
    padding: 20px 36px; }
  .circle .square-wrapper {
    min-width: 120px;
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    padding: 24px 16px;
    border-radius: 12px;
    z-index: 2; }
  @media (max-width: 699px) {
    .circle .logo-1 {
      top: -13%;
      right: 30%;
      left: auto;
      bottom: auto; }
    .circle .logo-1 {
      -webkit-transform: translateX(20%) translateY(-10%);
              transform: translateX(20%) translateY(-10%); }
    .circle .logo-2 {
      top: auto;
      right: 40%;
      left: auto;
      bottom: 0; }
    .circle .logo-3 {
      top: auto;
      right: 40%;
      left: auto;
      bottom: -25%; }
    .circle .logo-4 {
      top: auto;
      right: 43%;
      left: auto;
      bottom: -20%; }
    .circle .logo-5 {
      top: auto;
      right: 44.5%;
      left: auto;
      bottom: -30%; }
    .circle .logo-6 {
      top: auto;
      right: 44.5%;
      left: auto;
      bottom: -16%; } }

.footer {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  padding-top: 40px; }
  @media (max-width: 1024px) {
    .footer {
      padding-top: 0; } }

.footer-section-wrapper .footer-section-space {
  margin-bottom: 100px; }
.footer-section-wrapper .description {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  padding-right: 8px; }
.footer-section-wrapper .contact-details {
  min-width: 225px;
  margin-bottom: 58px; }
  .footer-section-wrapper .contact-details a {
    color: inherit;
    text-decoration: underline; }
.footer-section-wrapper .contact-social-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.89);
  -webkit-transition: color ease 0.23s;
  transition: color ease 0.23s;
  margin-right: 24px; }
  .footer-section-wrapper .contact-social-icon:hover {
    color: black; }

.footer-info-warpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px; }

.footer-info-warpper, .footer-links-wrapper {
  margin-bottom: 20px; }

.footer-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.footer-links-header {
  font-family: "Play", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem; }

.footer-links-title {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem; }
  .footer-links-title a {
    color: inherit;
    text-decoration: none; }

.footer-links-block {
  margin: 0 1.5rem;
  max-width: 120px; }
  .footer-links-block:first-of-type {
    margin-left: 0; }
  @media (max-width: 575px) {
    .footer-links-block {
      margin: 0 0.5rem; } }
  .footer-links-block .footer-links-items {
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    padding-left: 1rem;
    line-height: 1.5; }
    .footer-links-block .footer-links-items .item {
      margin-bottom: 0.5rem; }
    .footer-links-block .footer-links-items .link {
      color: inherit;
      text-decoration: none; }

:lang(de) .footer-links-block {
  max-width: 180px; }

.menu-footer-container .nav > li > .nav-link {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: inherit; }
.menu-footer-container .nav .sub-menu {
  list-style-type: disc;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  padding-left: 30px;
  line-height: 1.5;
  max-width: 180px; }
  .menu-footer-container .nav .sub-menu > li {
    margin-bottom: 0.5rem; }
    .menu-footer-container .nav .sub-menu > li a {
      color: inherit;
      padding: 0; }

body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

/*# sourceMappingURL=main.css.map */